@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #6cdefa 0%, #1d5486 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100vw;
  border-radius: 1.1rem;
  overflow: hidden;
  display: flex;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 1rem;
}

img {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
}

/* Sections for both players*/
.player {
  flex: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* Left player's section color */
.player-0 {
  background-color: rgba(255, 255, 255, 0.35);
}

/* Round header */
.round {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1%;
  color: #fff;
}

/* Points header */
.score {
  margin-bottom: 2rem;
}

/* Make a pick text */
.pick-text {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-weight: 300;
  margin-bottom: 0.1rem;
  text-align: center;
}

/* Left player's choice's div*/
.picks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Flex items */
.pick-item {
  padding: 1rem;
}

.pick-item:hover {
  opacity: 0.6;
}

/* Hearts */
i {
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* Questionmark div */
.question {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
}

/* Questionmark image */
.question img {
  width: 20rem;
  height: 20rem;
}

/* Play again button */
button {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5%;
  border-radius: 1.5rem;
  border: none;
  font-size: 2rem;
  background-color: royalblue;
  color: #fff;
  padding: 1rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 400;
}

button:hover {
  opacity: 0.8;
  color: #000;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}

.result-message {
  font-family: inherit;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translate(-50%);
  color: white;
  font-weight: bold;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  main {
    height: 100vh;
  }
  main > section.player {
    padding: 1rem;
  }
  section.player h3 {
    font-size: 1.3rem;
  }
  main i {
    font-size: 2rem;
    padding: 0.5rem;
  }
  main h2 {
    font-size: 1.5rem;
  }
  main .question {
    transform: translateY(-14.1rem);
  }
  main .question .quest {
    height: 15rem;
    width: 15rem;
  }
}

@media (max-height: 720px) {
  i {
    margin-bottom: 0;
    padding-top: 0rem;
  }
  .pick-item {
    padding: 0;
  }
  .score {
    margin-bottom: 0rem;
  }
  /* main .question .quest {
    height: 11rem;
    width: 11rem; */
}
.pick-text {
  margin-bottom: 0;
}

@media (max-height: 540px) {
  main img {
    height: 15rem;
    width: 15rem;
  }
  i {
    font-size: 2.2rem;
    padding-bottom: 0rem;
  }
  main .question .quest {
    margin-top: 9rem;
  }
  .pick-text {
    font-size: 1.3rem;
  }
}

@media (max-height: 420px) {
  .picks {
    flex-direction: row;
    margin-top: 8rem;
  }
  main img {
    padding: 2rem 0.5rem 1rem;
  }

  .result-message {
    margin-top: 2rem;
  }
}
